header {
    margin: auto;
    margin-top: 2vw;
    width: 85vw;
    text-align: center;
    height: max(8vw, 110px);
    border: thick solid rgb(107, 124, 103);
    border-radius: 5%;
    background-color: black;
    box-shadow: 10px 10px 5px darkgrey;
    color: rgb(158, 226, 243);
    animation-name: animate1; 
    animation-duration: 4s; 
}

h1 {
    margin: auto;
    font-size: max(4.5vw, 32px);    
    text-shadow: 2px 2px 5px red;
    font-family: 'Grenze Gotisch', cursive;
} 

@keyframes animate1 {
    to {
       background-color: black;
       color: lightskyblue;
       border-radius: 5%;
     } from {
       background-color: rgb(179, 174, 167);
       color: rgb(14, 13, 13);
       border-radius: 70%;
     }
   }

body {
   background-image: url(https://i.pinimg.com/564x/d1/5d/fc/d15dfc114fdc960e17d3e02710dbcbe1.jpg);
   background-size: cover;
}

h2 {
    text-align: center;
    font-weight: 300;
    color:red;
    text-shadow: 2px 2px 5px black;
    font-family: 'Grenze Gotisch', cursive;
    font-size: max(4vw, 28px);
    margin-top: 2vw;
}

button {
    text-align: center;
    width:max(25vw, 240px);
    margin-top: max(3vw, 30px);
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgb(194, 19, 19);
    color: black;
    font-weight: bold;
    font-family: 'Grenze Gotisch', cursive;
    font-size: max(3vw, 30px);
   }

button:hover {
    cursor:pointer;
    background-color: rgb(234, 49, 49);
}

a {
    display: block;
    text-align: center;
    margin-left:50%;
    transform: translateX(-50%);
    margin-top: max(2vw, 20px);
    color: red;
    text-shadow: 2px 2px 5px black;
    font-size: max(3vw, 30px);
    font-family: 'Grenze Gotisch', cursive;
}

a:hover {
    color:rgb(115,115,115);
}

p {
    text-align: center;
    -webkit-text-stroke: max(.05vw, .5px) black;
    width: 90%;
    margin: auto;
    margin-top: max(2vw, 20px);
    color: red;
    font-size: max(2vw, 22px);
    font-family: 'Bubblegum Sans';
    font-weight: lighter;

}
footer {
    text-align: center;
    color: white;
    -webkit-text-stroke: max(.07vw, .7px) black;
    font-size: max(2.5vw, 25px);
    font-family: 'Bubblegum Sans';
    font-weight: lighter;
    margin-top: max(5vw, 40px);
}

.contentDisplay {
    margin:auto;
    margin-top: max(3vw, 30px);
    width:80%;
    background-color: rgba(25,25,25,.5);
    padding: 3vw;
    border-radius: 25px;
}